@inject NEVOLAplus.Portal.Services.ITextSnippetService SnippetService

@{
    ViewData["Title"] = await SnippetService.GetContentByKeyAsync("Portal_HomeTitle")
                       ?? "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        @(await SnippetService.GetContentByKeyAsync("Portal_Welcome") ?? "Welcome")
        </h1>
    <p>
        @(await SnippetService.GetContentByKeyAsync("Portal_HomeDescription")
            ?? "Learn about building Web apps with ASP.NET Core.")
    </p>
</div>
