@{
    ViewData["Title"] = "Polityka prywatności NEVOLAplus";
}

<h1>@ViewData["Title"]</h1>
<p>
    Niniejsza strona opisuje, w jaki sposób NEVOLAplus gromadzi, przetwarza i chroni dane użytkowników.
</p>
